footer {
    margin: 5px;
    background-color: #296027;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}